.SideNav {
  background-color: rgb(190, 213, 223);
  color: #224e72;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-200px);
  z-index: 10;
}

.SideNav p {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.SideNav p.selected {
  background-color: #4885b8;
  color: #fff;
}

.SideNav.open {
  transform: translateX(0);
}

@media only screen and (min-width: 1200px) {
  .SideNav {
    padding-top: 10px;
    position: relative;
    transform: translateX(0);
  }

  .SideNav p:hover {
    background-color: #4885b8;
    color: #fff;
  }
}
