.Basket .loading-container {
  background-color: hsla(0, 0%, 0%, 0.2);
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.Basket .confirm-button {
  left: 60px;
}

@media only screen and (min-width: 1200px) {
  .Basket .empty-button {
    right: 20px !important;
    left: auto !important;
  }
}
